<div ng-controller="GroupsControllers">
	<div>
		<p>
			Buscar: <input ng-model="search.name" />
		</p>
	</div>
	<div>
		<table style="width: 100%">
			<tr>
				<th>Grupo</th>
				<th>Personajes</th>
			</tr>
			<tr ng-repeat="group in groups | filter: search | orderBy:'name'">
				<td>{{group.name}}</td>
				<td>{{group.characters.length}}</td>
			</tr>
			</div>
		</table>
	</div>
</div>

<br />

<div ng-controller="CharactersControllers">
	<section data-ng-controller="abmGroupCtrl">

		<!-- El formulario nuevo artículo -->
		<form data-ng-submit="create()" novalidate>
			<div>
				<label for="name">Nombre del grupo</label>
				<div>
					<input type="text" data-ng-model="name" id="name"
						placeholder="Nombre del grupo" required>
				</div>
			</div>
			<div>
				<br />
				<h4>Personajes incluidos:</h4>
				<form name="myForm">
					<select ng-model="personaje"
						ng-options="pj.name for pj in characters"></select>
				</form>
				<br />
				<p>{{personaje.description}}</p>
				<input type="submit">
			</div>
			<!-- El elemento mensaje de error -->
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</section>

</div>
