.jumbotron {
  background-image:url('../imgs/marvel3.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
